body {
  font-family: "Nunito";
  margin: 0;
  color: #222;
  height: 10000px;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.titulo {
  font-size: 3rem;
  line-height: 1.2;
}

.separador {
  border-bottom: 2px solid #2c70ff;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .titulo {
    font-size: 2.75rem;
  }
}
