.superinfo-bg {
  background: #122ab2;
  color: #fff;
  padding: 20px 0;
}

.superinfo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.header-bg {
  background: #2c70ff;
  padding: 20px 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 60px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.header-nav > a {
  font-size: 2rem;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header-nav li {
  font-size: 1.25rem;
}

.header-nav ul a {
  display: inline-block;
  padding: 8px 12px;
}

.header-nav ul a:hover {
  color: #122ab2;
}
