.superinfo-bg {
  background: #122ab2;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.superinfo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.header-bg {
  background: #2c70ff;
  padding: 20px;
  font-weight: bold;
  color: #fff;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.header-nav > a {
  font-size: 2.25rem;
  font-weight: bold;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header-nav ul a {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px;
}

.header-nav ul a:hover {
  color: #122ab2;
}
