.newsletter {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 60px calc((100% - 920px) / 2);
}

.newsletter-info {
  flex: 1 1 240px;
  margin-left: 20px;
  margin-right: 10px;
  margin: 0 20px;
}

.newsletter h1 {
  color: #a4a4a4;
}

.newsletter p {
  font-size: 1.25rem;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
}

.newsletter label {
  position: absolute;
  opacity: 0;
}

.newsletter-form {
  flex: 2 1 260px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 20px;
  margin-left: 20px; */
  margin: 0 20px;
}

.newsletter input[type="email"] {
  flex: 3 1 260px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
  background: transparent;
  border: 4px solid #2c70ff;
  padding: 15px 10px;
  border-radius: 0;
  margin: 0;
}

.newsletter button {
  flex: 1 1 260px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #2c70ff;
  color: #fff;
  margin: 0;
  padding: 15px 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .newsletter button {
    font-size: 1.5rem;
  }
}
