.planos-bg {
  background: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 40px;
}

.produtos {
  margin-bottom: 80px;
}

.produtos h1 {
  margin-bottom: 40px;
}

.produtos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.produtos h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 60px 20px;
  color: #a4a4a4;
  background: #f7f7f7;
}

.produtos li {
  flex: 1 1 175px;
}

.produtos li:first-child {
  border-top: 8px solid #ae81ff;
}
.produtos li:nth-child(2) {
  border-top: 8px solid #f9265e;
}
.produtos li:last-child {
  border-top: 8px solid #66d9eb;
}
