.sobre {
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.sobre-conteudo {
  margin-right: 40px;
}

.sobre img {
  flex: 0 1 auto;
}

.sobre h1 {
  margin-bottom: 40px;
}

.sobre p {
  max-width: 45ch;
  font-size: 1rem;
  color: #7c7c7c;
}

.sobre p + p {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .sobre {
    justify-content: start;
  }
}
